<h1>Gmaps4Rails Maps Loading Examples</h1>

<p>
	<%= link_to "HTML Partial", partial_path %>
</p>
<p>
	<%= link_to "AJAX Button", button_path %>
</p>
<p>
	<%= link_to "Javascript Action", javascript_path, :remote => true %>
</p>
